body {
  height: 100vh;
  background-image: url("./images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  border: 5px solid #fff;
  border-radius: 5px;
  width: 500px;
  height: 700px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
}

.container h1 {
  color: blue;
  font-size: 3rem;
  font-family: "East Sea Dokdo", sans-serif;
}

.container h2 {
  font-family: "East Sea Dokdo", sans-serif;
  font-size: 2rem;
}

.container input {
  width: 300px;
  padding: 15px;
  border-radius: 5px;
  border: none;
}

.container #play-button {
  width: 100px;
  height: 45px;
  border: none;
  background-color: yellowgreen;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.container #play-button:hover {
  background-color: rgb(111, 153, 28);
}

.container #reset-button {
  width: 50px;
  height: 45px;
  border: none;
  background-color: blueviolet;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
}

.container #reset-button:hover {
  background-color: rgb(90, 19, 156);
}